body{
    max-height: 100vh;
}
.up-section{
    border: 1px black solid; 
    text-align: center;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: center;
    border: 1px black solid;
    /*text-align: center;*/
    height: 30px;
    background-color: black;
}
.hero {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKvtigFYvIQDY2qgqjzELVarrusAX0zCXuww&usqp=CAU");
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    height: 180px;
}
.main-section{
    text-align: center;
    height: 180px;
}
.footer{
    background-color: lightslategrey;
    text-align: center;
    height: 30px;
}
.nav-button-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-buttons{
    font-size: 15px;
    color: white;
    display: inline-block;
}
.nav-buttons:hover{
    font-size: 20px;
    color: white;
    display: inline-block;
}